.featureNav-content {
    list-style-type: none;
    /* width: 1920px; */
    height: 100px;
    overflow: visible;
    overflow: hidden;
    background-color: hsl(0, 0%, 100%);
    box-shadow: 0 4px 2px -2px rgb(204, 199, 199);
  
    }

  .featureNav-left{
    margin-left: 100px;
  }
  .featureNav-right  {
    float: right;
    margin-right: 100px;
  }
  
  .logo {
    width: 90px;
    height: 63px;
  }

  .featureNav-list-logo {
    float: left;
    border-right:1px solid #bbb;
    /* display: block; */
    color: rgb(0, 0, 0);
    text-align: center;
    /* padding: 14px 16px; */
    height: 100px;
    text-decoration: none;
    padding-top: 20px;
    padding-right: 20px;
  }

  .featureNav-list {
    float: left;
    border-right:1px solid #bbb;
    /* display: block; */
    color: rgb(0, 0, 0);
    text-align: center;
    /* padding: 14px 16px; */
    height: 100px;
    text-decoration: none;
    padding-top: 40px;
  }

  .featureNav-item{
    padding-top: 200px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1.1rem;
    font-weight: 300;
    }
  
  .featureNav-list:last-child {
    border-right: none;
  }
/*   
  .featureNav-list:hover:not(.active) {
    background-color: #111;
  } */
  
  .active {
    background-color: #4CAF50;
  }
  
  .featureNav-button{
    background-color: rgb(34, 177, 34); /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    margin: 10px 10px 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
  }

  .featureNav-list-button {
    float: right;
    height: 100px;
    padding-top: 20px;

}
